<section>
    <div class="container-fluid py-3">
        <div class="row">
            <div class="col-12">
                <div class="pass">
                    <a href="">Главная</a>
                    <a href="#">О нас</a>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-5">
                <img src="img/img3.png" alt="" class="img-fluid">
            </div>
            <div class="col-lg-7 mt-lg-0 mt-4">
                <div class="row">
                    <div class="col-12">
                        <h3 class="section-title linear-text">
                            Как это работает
                        </h3>
                    </div>
                    <div class="col-12 mt-2">
                        <p class="section-subtitle">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tempor orci hendrerit venenatis venenatis in sed quisque nibh egestas. Vel varius morbi dolor duis tortor, at ultricies. Sed vitae mauris praesent odio tempus rhoncus, ac et. Donec tortor sem congue cum donec venenatis duis quis. Scelerisque nunc erat at at ac adipiscing mauris, magna turpis.
                            Sed pellentesque in integer in netus. Habitasse nisl diam pellentesque orci. Metus nam nam malesuada a imperdiet sit faucibus. Vel sagittis eget tortor ipsum dui, enim morbi laoreet ornare. Dignissim senectus porttitor orci lorem tortor lectus malesuada hendrerit a. Aliquet velit magna sodales sodales.
                            Vestibulum in pulvinar dignissim commodo vivamus iaculis. Augue montes, laoreet a, sit ante enim. Ultricies ac pulvinar nisi, id sed sagittis scelerisque ipsum dolor. Duis nunc, turpis tortor nec in ornare. Sed dui nulla nunc porttitor vitae. Feugiat sagittis cursus eu.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container-fluid">
        <div class="row row-cols-lg-3 row-cols-1">
            <div class="col">
                <div class="cyan-block text-center">
                    <div class="row justify-content-center">
                        <div class="col-12 d-flex justify-content-center align-items-center">
                            <img class="img-fluid" src="img/license 1.svg">
                        </div>
                        <div class="col-8 my-4">
                            <span class="middle-text text-grey">
                                Лицензированные специалисты
                            </span>
                        </div>
                        <div class="col-12">
                            <p class="section-subtitle">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tempor orci hendrerit venenatis venenatis in sed quisque nibh egestas. Vel varius morbi dolor duis tortor, at ultricies. Sed vitae mauris praesent odio tempus rhoncus, ac et. Donec tortor sem congue cum donec venenatis duis quis. Scelerisque nunc erat at at ac adipiscing mauris, magna turpis.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="cyan-block text-center">
                    <div class="row justify-content-center">
                        <div class="col-12 d-flex justify-content-center align-items-center">
                            <img src="img/Group.svg">
                        </div>
                        <div class="col-8 my-4">
                            <span class="middle-text text-grey">
                                Всесторонний
                                подход
                            </span>
                        </div>
                        <div class="col-12">
                            <p class="section-subtitle">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tempor orci hendrerit venenatis venenatis in sed quisque nibh egestas. Vel varius morbi dolor duis tortor, at ultricies. Sed vitae mauris praesent odio tempus rhoncus, ac et. Donec tortor sem congue cum donec venenatis duis quis. Scelerisque nunc erat at at ac adipiscing mauris, magna turpis.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="cyan-block text-center">
                    <div class="row justify-content-center">
                        <div class="col-12 d-flex justify-content-center align-items-center">
                            <img src="img/Group-1.svg">
                        </div>
                        <div class="col-6 my-4">
                            <span class="middle-text text-grey">
                                Консультации
                                24/7
                            </span>
                        </div>
                        <div class="col-12">
                            <p class="section-subtitle">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tempor orci hendrerit venenatis venenatis in sed quisque nibh egestas. Vel varius morbi dolor duis tortor, at ultricies. Sed vitae mauris praesent odio tempus rhoncus, ac et. Donec tortor sem congue cum donec venenatis duis quis. Scelerisque nunc erat at at ac adipiscing mauris, magna turpis.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>