@page "/par-par-demo"
<div class="container-fluid px-0">
    <section class="ded-inside ps-rtl-0 first-section pe-0">
        <div class="container-fluid">
            <div class="row mt-md-5">
                <div class="col-lg-5 col-md-8 col-9">
                    <div class="row">
                        <div class="col-12">
                            <h1 class="page-title wow fadeInLeft">
                                HealthSpace LTD – лучшие врачи и технологии со всего мира – к вашим услугам.
                            </h1>
                        </div>
                        <div class="col-10 my-3 wow fadeInLeft" data-wow-dealay="0.3s">
                            <p class="section-subtitle text-white">
                                Наша задача использовать передовые технологии для связи между врачами и пациентами,
                                оказания эффективной медицинской
                                помощи.
                            </p>
                        </div>
                        <div class="col-md-10 col-7 wow fadeInLeft" data-wow-dealay="0.6s">
                            <div class="row">
                                @*<div class="col-12 col-xl-6">
                                    <div class="d-flex my-2">
                                        <a href="#" class="mybtn white">
                                            <span>Зарегистрироваться</span>
                                        </a>
                                    </div>
                                </div>*@
                                <div class="col-12 col-xl-6">
                                    <div class="d-flex my-2">
                                        <a href="#" class="mybtn stroke mt-lg-0 mt-4">
                                            Связаться
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 d-md-block d-none">
                </div>
                <div class="col-lg-4 d-lg-block d-none ps-rtl-0 ps-0 pe-0">
                    <div>
                        <div class="row d-flex flex-column justify-content-end mx-0 px-0">
                            <div class="col-12 px-0">
                                <div class="right-side wow fadeInRight">
                                    <span class="linear-text middle-text">
                                        Par-Par клиника
                                    </span>
                                </div>
                            </div>
                            <div class="col-12 my-2 off text-end">
                                <p class="section-subtitle text-white text-rtl-left px-3 wow fadeInRight"
                                   data-wow-delay="0.1s">
                                    Медицинская помощь, не выходя из дому.
                                    Мед. специалисты по разным вопросам, второе мнение, альтернативное решение Вашей
                                    проблемы.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div>
                        <div class="row d-flex flex-column justify-content-end mx-0 px-0">
                            <div class="col-12 d-flex justify-content-end px-0">
                                <div class="right-side wow fadeInRight" data-wow-delay="0.2s">
                                    <span class="linear-text middle-text">
                                        Par-Par соц. сеть
                                    </span>
                                </div>
                            </div>
                            <div class="col-8 align-self-end my-3 text-end px-0">
                                <p class="section-subtitle text-white text-start text-rtl-left px-3 wow fadeInRight"
                                   data-wow-delay="0.3s">
                                    Задай вопрос специалисту, поделись личным опытом, получи поддержку.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div>
                        <div class="row d-flex flex-column justify-content-end mx-0 px-0">
                            <div class="col-12 d-flex justify-content-end px-0">
                                <div class="right-side wow fadeInRight" data-wow-delay="0.4s">
                                    <span class="linear-text middle-text">Par-Par трекер</span>
                                </div>
                            </div>
                            <div class="col-8 my-3 align-self-end text-end px-0">
                                <p class="section-subtitle text-white text-start text-rtl-left px-3 wow fadeInRight"
                                   data-wow-delay="0.5s">
                                    Личный дневник и навигатор здоровой жизни.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="row d-flex flex-column justify-content-end mx-0 px-0">
                            <div class="col-12 d-flex justify-content-end px-0">
                                <div class="right-side wow fadeInRight" data-wow-delay="0.4s">
                                    <span class="linear-text middle-text">Par-Par тур</span>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="pb-0">
        <div class="container">
            <div class="row">
                <div class="col-12  text-center">
                    <h3 class="section-title">
                        О Par Par Clinic
                    </h3>
                </div>
            </div>
        </div>
    </section>
    <section class="gif-bg py-lg-5">
        <div class="container-fluid py-lg-5">
            <div class="row py-3">
                <div class="col-lg-4 col-md-10 offset-lg-1 text-end mt-lg-4">
                    <div class="row">
                        <div class="col-9">
                            <div class="row">
                                <div class="col-12">
                                    <h4 class="middle-text linear-text">
                                        Par-par єкосистема
                                    </h4>
                                </div>
                                <div class="col-12 mt-3">
                                    <p class="section-subtitle">
                                        Пар-пар клиника – часть Пар-пар экосистемы, в которой так же есть форумы
                                        специалистов, социальная сеть, приложения для
                                        поддержки здорового образа жизни, энциклопедические ресурсы и центры
                                        медицинского туризма
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="d-flex justify-content-center align-items-center h-100">
                                <div class="circle">
                                    <i class="fas fa-plus"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-10 offset-md-2">
                    <div class="row">
                        <div class="col-3">
                            <div class="d-flex justify-content-center align-items-center h-100">
                                <div class="circle">
                                    <i class="fas fa-plus"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col-9">
                            <div class="row">
                                <div class="col-12">
                                    <h4 class="middle-text linear-text">
                                        Обмен информации
                                    </h4>
                                </div>
                                <div class="col-12 mt-3">
                                    <p class="section-subtitle">
                                        Обеспечиваем обмен информации между разными специалистами, стимулируем
                                        анализ вашего здоровья со всех точек зрения и
                                        направлений. Оказываем реальную помощь нуждающимся.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-10 offset-lg-2 text-end mt-lg-5">
                    <div class="row mt-3">
                        <div class="col-9">
                            <div class="row">
                                <div class="col-12">
                                    <h4 class="middle-text linear-text">
                                        Объединяем медицину и профилактику
                                    </h4>
                                </div>
                                <div class="col-12 mt-3">
                                    <p class="section-subtitle">
                                        Не ограничиваемся только докторами, привлекаем специалистов по здоровому
                                        образу жизни, диетологов, тренеров и
                                        натуропатов
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="d-flex justify-content-center align-items-center h-100">
                                <div class="circle">
                                    <i class="fas fa-plus"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-10 offset-md-2 mt-lg-5">
                    <div class="row mt-5">
                        <div class="col-3">
                            <div class="d-flex justify-content-center align-items-center h-100">
                                <div class="circle">
                                    <i class="fas fa-plus"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col-9">
                            <div class="row">
                                <div class="col-12">
                                    <h4 class="middle-text linear-text">
                                        Всесторонний подход
                                    </h4>
                                </div>
                                <div class="col-12 mt-3">
                                    <p class="section-subtitle">
                                        Внимательно отслеживаем эффективность рекомендаций, данных нашими
                                        специалистами. Для этой цели мы разработали удобные
                                        приложения для сбора соответствующей информации, основанные на базе
                                        Лайфтрекера.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="py-5">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 my-3 text-center">
                    <h3 class="section-title">
                        Как это работает
                    </h3>
                </div>
            </div>
            <div class="row row-cols-lg-3 row-cols-md-2 row-cols-1 justify-content-lg-between justify-content-center">
                <div class="col">
                    <div class="buffer text-center">
                        <span class="number">1</span>
                        <div class="row justify-content-center">
                            <div class="col-12 d-flex justify-content-center">
                                <span class="linear-bg middle-text w-fit">Заполните форму</span>
                            </div>
                            <div class="col-lg-10 mt-2">
                                <p class="section-subtitle">
                                    Расскажите о Вашей проблеме, вместе с предисторией и испоробованными методами
                                    лечения, в удобной медицинцкой карточке.
                                    Чем подробнее Вы опишите свою проблему и состояние здоровья, тем быстрее
                                    специалисты смогут помочь вам.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="buffer text-center">
                        <span class="number">2</span>
                        <div class="row justify-content-center">
                            <div class="col-12 d-flex justify-content-center">
                                <span class="linear-bg middle-text w-fit">Свяжитесь с доктором</span>
                            </div>
                            <div class="col-lg-10 mt-2">
                                <p class="section-subtitle">
                                    Прежде чем прийти к доктору на видеоприём, можно начать переписываться с ним в
                                    чате. Доктор может попросить Вас сделать
                                    дополнительные анализы или дать начальные рекомендации. После видеоприёма связь
                                    не прерывается. Можно продолжать
                                    общаться в чате и/или заказать ещё встречу. Наши пользователи получают особое
                                    мобильное приложение (Лайфтрекер), которое
                                    напоминает им о назначениях врача и позволяет легко внести любые новые
                                    события/данные связанные с Вашем здоровьем и
                                    процессом лечения. Вся информация в удобном виде и немедленно попадает к Вашему
                                    доктору, для предоставления Вам
                                    максимально качественного медицинского сервиса.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="buffer text-center">
                        <span class="number">3</span>
                        <div class="row justify-content-center">
                            <div class="col-12 d-flex justify-content-center">
                                <span class="linear-bg middle-text w-fit">Наша цель - результат</span>
                            </div>
                            <div class="col-lg-10 mt-2">
                                <p class="section-subtitle">
                                    Контроль результативности наших консультаций – неотъемлемая часть нашего
                                    сервиса. Наша система обязательно Вас спросит,
                                    насколько точно у Вас получилось следовать предписаниям специалиста, и насколько
                                    Вам это помогло. Если желанный
                                    результат не достигнут, мы попытаемся найти Вам другого врача, с альтернативным
                                    решением. По завершении лечения мы
                                    сможем составить для Вас индивидуальную программу сохранения и урепления
                                    здоровья. Предотвращение заболеваний до их
                                    развития – стратегическая цель для нас
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="py-5" style="background: url(/img/bg1.jpg) no-repeat; background-size: cover;">
        <div class="container-fluid py-md-5">
            <div class="row justify-content-center">
                <div class="col-lg-6 col-md-10">
                    <div class="white-block pt-5 buffer">
                        <div class="row pt-5 justify-content-center text-center">
                            <div class="col-12 d-flex justify-content-center text-center">
                                <h3 class="linear-bg levit-text large-text w-fit text-white">
                                    О нас
                                </h3>
                            </div>
                            <div class="col-10">
                                <p class="section-subtitle">
                                    Мы объединяем в первую очередь специалистов, которым важно здоровье пациента в
                                    целом, его душевное и физическое
                                    благополучие и долголетие. Мы не ограничиваемся только классическими докторами,
                                    мы также сотрудничаем со специалистами
                                    по здоровому образу жизни, натуропатами, специалистами по китайской медицине.
                                    Более того, мы обеспечиваем обмен
                                    информации между разными направлениями, стимулируем создание единого форума и
                                    конструктивного диалога между
                                    специалистами разных направлений.

                                    Наша компания Healthspace LTD зарегистрирована в Израиле с мая 2020 года (номер
                                    516191871). У нас есть израильские
                                    лицензии на хранение частных медицинских данных, предоставление услуг
                                    медицинского туризма. Подан патент
                                    (PCT/IL2021/050418, WO2021209989A1).
                                </p>
                            </div>
                            <div class="col-12 d-flex justify-content-center align-items-center mt-4">
                                <a href="#" class="mybtn stroke blue">
                                    Подробнее
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6">
                    <div class="row">
                        <div class="col-12">
                            <h3 class="section-title">
                                Свяжитесь с нами
                            </h3>
                        </div>
                        <div class="col-lg-8">
                            <p class="mt-3 section-subtitle">
                                У нас Вы можете быстро найти медицинских специалистов по самым разным вопросам,
                                узнать "второе мнение" и получить
                                альтернативное решение для Вашей проблемы. Проблема? Пишите! Поможем. Опишите
                                коротко Вашу проблему, задайте любой
                                вопрос про наш сервис. Мы Вам быстро ответим.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 mt-lg-0 mt-4">
                    <div class="row">
                        <div class="col-12">
                            <form method="post" id="requestForm">
                                <div class="row">
                                    <div class="col-lg-8">
                                        <label class="input-group">
                                            <span>Ваше имя</span>
                                            <div class="inpt-buff">
                                                <input name="name" type="text" placeholder="Иван">
                                            </div>
                                        </label>
                                    </div>
                                    <div class="col-lg-8 mt-4">
                                        <label class="input-group">
                                            <span>Ваш e-mail</span>
                                            <div class="inpt-buff">
                                                <input name="email" type="email" placeholder="IvanIvanov@gmail.com">
                                            </div>
                                        </label>
                                    </div>
                                    <div class="col-lg-10 mt-4">
                                        <label class="input-group">
                                            <span>Ваш вопрос</span>
                                            <div class="inpt-buff">
                                                <textarea placeholder="Я хотел бы спросить..." name="comment"
                                                          class="w-100" rows="5"></textarea>
                                            </div>
                                        </label>
                                    </div>
                                    <div class="col-12 mt-4">
                                        <a href="#" class="mybtn linear">
                                            Отправить
                                        </a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
